.cont{
   
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    'box-a box-a box-a '
    'box-b box-b box-b '
    'box-c box-c box-d '
    'box-e box-e box-e '
    'box-f box-f box-f ';
    grid-gap: 2px;
}
.box-a{
    grid-area: box-a;
}
.box-b{
    grid-area: box-b;
}
.box-c{
    grid-area: box-c;
}
.box-d{
    grid-area: box-d;
}
.box-e{
    grid-area: box-e;
}
.box-f{
    grid-area: box-f;
}

.cont > div{
    background-color: lightsteelblue;
    
}

.cont > div:nth-child(odd){
    background-color: lightsteelblue;
}

#boxup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-gap: 1em;
    grid-auto-rows: 50px;
    text-align: center;
   
}

#boxup > div{
    border: solid black 3px;
    background-color: gold;
    margin: 5px;
}

#bowlw{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: auto;
    text-align: center;
    grid-template-areas:
    'bowlw1 bowlw4 bowlw4'
    'bowlw2 bow1w4 bowlw4'
    'bowlw3 bowlw4 bowlw4' 
}

.bowlw1{
    grid-area: bowlw1;
}

.bowlw2{
    grid-area: bowlw2;
}

.bowlw3{
    grid-area: bowlw3;
}

.bowlw4{
    grid-area: bowlw4;
}

#boxlw > div{
    margin: 10px;
   background-color: gray;
   margin-right: 900px;
   padding: 5px;
}

.hi{
    margin : 8px;
    color: brown;
}

.tp{
    color: blue;
    position: absolute;
    top: 1%;
    bottom: 0%;
    right: 50px;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 15em;
    background-color: wheat;
}


.navigation > div{
    margin: 15px;
    
}

button{
    color: white;
    border: none;
    padding: 5px;
    background-color: mediumseagreen;
}

p{
    margin: 15px;
}

h4{
    margin: 5px;
}

.detail{
    background-color: khaki;
    padding: 5px;
}

.sidebar{
    background-color: grey;
    margin: 5px;
    height: 500px;
}

.advert{
    background-color: deepskyblue;
    margin: 5px;
    height: 100px;
}

hr{
    margin: 10px;
}

img{
    margin: 20px;
}

.last{
    background-color: brown;
    height: 50px;
    padding: 5px;
}